@use 'sass:list';
@import './bootstrap';

@mixin transition($properties...) {
  $transitions: ();
  @each $property in $properties {
    $transitions: list.append($transitions, #{$property} var(--transition-speed) ease, $separator: comma);
  }
  transition: $transitions;
}

@mixin button-variant($name, $bg-color, $text-color, $hover-bg, $hover-border, $border-color: $bg-color) {
  &.btn-#{'#{$name}'} {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;
    box-shadow: var(--box-shadow-primary);

    svg,
    i,
    span {
      color: $text-color !important;
      @include transition(color);
    }

    &:hover {
      background-color: $hover-bg;
      border-color: $hover-border;
    }
  }
}

@mixin link-variant($name, $color, $hover-color, $active-color) {
  &.link-#{'#{$name}'} {
    color: $color !important;
    text-decoration: none;

    svg,
    i,
    span {
      color: $color !important;
      @include transition(color);

      &:hover {
        color: $hover-color !important;
      }
    }

    &:hover {
      color: $hover-color !important;
    }

    &:active {
      color: $active-color !important;
    }
  }
}

@mixin text-variant($name, $color-var) {
  .text-#{'#{$name}'} {
    color: $color-var !important;
  }
}

@mixin background-variant($name, $bg-color) {
  &.bg-#{'#{$name}'} {
    background-color: $bg-color !important;
  }
}

@mixin badge-variant($name, $bg-color, $text-color, $hover-bg, $hover-border, $border-color: $bg-color) {
  &.badge-#{'#{$name}'} {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;
    box-shadow: var(--box-shadow-sm);

    svg,
    i {
      color: $text-color !important;
      @include transition(color);
    }

    &:hover {
      background-color: $hover-bg;
      border-color: $hover-border;
      box-shadow: var(--box-shadow-sm-hover);
    }
  }
}

@mixin alert-variant($name, $bg-color, $text-color, $hover-bg, $hover-border, $border-color: $bg-color) {
  &-#{'#{$name}'} {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;

    svg,
    i {
      color: $text-color !important;
      @include transition(color);
    }

    &:hover {
      background-color: $hover-bg;
      border-color: $hover-border;
    }
  }
}

@keyframes theme-transition {
  from {
    opacity: 0.96;
  }
  to {
    opacity: 1;
  }
}

@mixin theme-transition {
  animation: theme-transition var(--transition-speed) ease-in-out;
}

@mixin list-group-item-variant($name, $bg-color, $text-color, $hover-bg, $hover-border, $border-color: $bg-color) {
  &.list-group-item-#{'#{$name}'} {
    background-color: $bg-color;
    color: $text-color;
    border-color: $border-color;

    svg,
    i,
    span {
      color: $text-color !important;
      @include transition(color);
    }

    &:hover {
      background-color: $hover-bg;
      border-color: $hover-border;
    }

    &.active {
      background-color: $hover-bg;
      color: $text-color;
      border-color: $hover-border;
    }
  }
}
