@import './variables';
@import './mixins';

body {
  margin: 0;
  font-family: var(--font-family), sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  @include transition(background-color, color);
  @include theme-transition;
}

.navbar {
  background-color: var(--navbar-bg);
  border-bottom: 1px solid var(--border-color);
  @include transition(background-color, border-color);

  .nav-link {
    color: var(--text-color);
    @include transition(color);

    &:hover {
      color: var(--link-hover-color);
    }

    &.active {
      color: var(--active-color);
    }
  }

  .navbar-brand {
    color: var(--text-color);
    @include transition(color);

    &:hover {
      color: var(--link-hover-color);
    }
  }

  .navbar-toggler {
    border: 1px solid var(--border-color);
    @include transition(border-color, color);

    .navbar-toggler-icon {
      font-size: 1.5rem;
      color: var(--text-color);
      @include transition(color);

      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}

.footer {
  background-color: var(--footer-bg);
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  @include transition(background-color, color, border-color);
}

main {
  background-color: var(--main-bg);
  min-height: 100vh;
  @include transition(background-color);
}

.theme-toggle-btn {
  background-color: transparent;
  color: var(--text-color);
  @include transition(background-color, color);

  &:hover {
    color: var(--link-hover-color);
  }
}

p {
  color: var(--text-color);
  @include transition(color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  @include transition(color);
}

.text-muted {
  color: var(--muted-text-color) !important;
  @include transition(color);
}

.spinner-border,
.spinner-grow {
  color: var(--spinner-color);
  @include transition(color);
}

.pagination {
  .page-item {
    .page-link {
      background-color: transparent;
      color: var(--text-color);
      border: 1px solid var(--border-color);
      @include transition(background-color, color, border-color);

      &:hover {
        color: var(--link-hover-color);
        border-color: var(--link-hover-color);
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    &.active .page-link {
      background-color: var(--active-color);
      border-color: var(--border-color);
      color: var(--primary-color);
    }

    &.disabled .page-link {
      color: var(--muted-text-color);
      pointer-events: none;
    }
  }
}

select,
select.form-select {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  @include transition(background-color, color, border-color);

  &:focus {
    background-color: var(--main-bg-color);
    border-color: var(--link-color);
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:hover {
    border-color: var(--link-hover-color);
  }

  &:disabled {
    background-color: var(--main-bg);
    color: var(--muted-text-color);
    border-color: var(--border-color);
    cursor: not-allowed;
  }

  option {
    background-color: var(--main-bg);
    color: var(--text-color);
  }
}

input.form-control {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  @include transition(background-color, color, border-color);

  &::placeholder {
    color: var(--text-color);
  }

  &:focus {
    color: var(--text-color);
    background-color: var(--input-bg-color);
    border-color: var(--link-color);
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:hover {
    border-color: var(--link-hover-color);
  }

  &:disabled {
    background-color: var(--input-bg-color);
    color: var(--muted-text-color);
    border-color: var(--border-color);
    cursor: not-allowed;
  }
}

.post-card {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--main-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @include transition(background-color, box-shadow, border-color);
}

.post-card-content {
  flex: 1;
  padding: 16px;
  color: var(--text-color);
}

.thumbnail-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--main-bg);
  @include transition(background-color, border-color);

  img {
    width: 100%;
    height: auto;
    @include transition(transform, filter);
  }
}

.thumbnail-wrapper:hover img {
  transform: scale(1.1);
  filter: brightness(var(--hover-brightness));
}

.text {
  @include transition(color);

  @include text-variant(primary, var(--primary-text));
  @include text-variant(secondary, var(--secondary-text));
  @include text-variant(success, var(--success-text));
  @include text-variant(info, var(--info-text));
  @include text-variant(warning, var(--warning-text));
  @include text-variant(danger, var(--danger-text));
  @include text-variant(light, var(--light-text));
  @include text-variant(dark, var(--dark-text));
  @include text-variant(red, var(--red-text));
  @include text-variant(green, var(--green-text));
  @include text-variant(blue, var(--blue-text));
  @include text-variant(orange, var(--orange-text));
  @include text-variant(yellow, var(--yellow-text));
  @include text-variant(purple, var(--purple-text));
  @include text-variant(gray, var(--gray-text));
}

.background {
  @include transition(background-color);

  @include background-variant(primary, var(--primary-bg));
  @include background-variant(secondary, var(--secondary-bg));
  @include background-variant(success, var(--success-bg));
  @include background-variant(info, var(--info-bg));
  @include background-variant(warning, var(--warning-bg));
  @include background-variant(danger, var(--danger-bg));
  @include background-variant(light, var(--light-bg));
  @include background-variant(dark, var(--dark-bg));
  @include background-variant(red, var(--red-bg));
  @include background-variant(green, var(--green-bg));
  @include background-variant(blue, var(--blue-bg));
  @include background-variant(orange, var(--orange-bg));
  @include background-variant(yellow, var(--yellow-bg));
  @include background-variant(purple, var(--purple-bg));
  @include background-variant(gray, var(--gray-bg));
}

.link {
  color: var(--text-color);
  text-decoration: none;
  @include transition(color);
  &:hover {
    color: var(--link-hover-color);
  }

  &.active {
    color: var(--active-color);
  }

  @include link-variant(primary, var(--primary-bg), var(--primary-hover), var(--primary-color));
  @include link-variant(secondary, var(--secondary-bg), var(--secondary-hover), var(--secondary-color));
  @include link-variant(success, var(--success-bg), var(--success-hover), var(--success-color));
  @include link-variant(info, var(--info-bg), var(--info-hover), var(--info-color));
  @include link-variant(warning, var(--warning-bg), var(--warning-hover), var(--warning-color));
  @include link-variant(danger, var(--danger-bg), var(--danger-hover), var(--danger-color));
  @include link-variant(light, var(--light-bg), var(--light-hover), var(--light-color));
  @include link-variant(dark, var(--dark-bg), var(--dark-hover), var(--dark-color));
  @include link-variant(red, var(--red-bg), var(--red-hover), var(--red-color));
  @include link-variant(green, var(--green-bg), var(--green-hover), var(--green-color));
  @include link-variant(blue, var(--blue-bg), var(--blue-hover), var(--blue-color));
  @include link-variant(orange, var(--orange-bg), var(--orange-hover), var(--orange-color));
  @include link-variant(yellow, var(--yellow-bg), var(--yellow-hover), var(--yellow-color));
  @include link-variant(purple, var(--purple-bg), var(--purple-hover), var(--purple-color));
  @include link-variant(gray, var(--gray-bg), var(--gray-hover), var(--gray-color));
}

.btn {
  @include transition(background-color, border-color, color);

  @include button-variant(
    primary,
    var(--primary-bg),
    var(--primary-color),
    var(--primary-hover),
    var(--primary-hover),
    var(--primary-bg)
  );
  @include button-variant(
    secondary,
    var(--secondary-bg),
    var(--secondary-color),
    var(--secondary-hover),
    var(--secondary-hover),
    var(--secondary-bg)
  );
  @include button-variant(
    success,
    var(--success-bg),
    var(--success-color),
    var(--success-hover),
    var(--success-hover),
    var(--success-bg)
  );
  @include button-variant(
    info,
    var(--info-bg),
    var(--info-color),
    var(--info-hover),
    var(--info-hover),
    var(--info-bg)
  );
  @include button-variant(
    warning,
    var(--warning-bg),
    var(--warning-color),
    var(--warning-hover),
    var(--warning-hover),
    var(--warning-bg)
  );
  @include button-variant(
    danger,
    var(--danger-bg),
    var(--danger-color),
    var(--danger-hover),
    var(--danger-hover),
    var(--danger-bg)
  );
  @include button-variant(
    light,
    var(--light-bg),
    var(--light-color),
    var(--light-hover),
    var(--light-hover),
    var(--light-bg)
  );
  @include button-variant(
    dark,
    var(--dark-bg),
    var(--dark-color),
    var(--dark-hover),
    var(--dark-hover),
    var(--dark-bg)
  );
  @include button-variant(red, var(--red-bg), var(--red-color), var(--red-hover), var(--red-hover), var(--red-bg));
  @include button-variant(
    green,
    var(--green-bg),
    var(--green-color),
    var(--green-hover),
    var(--green-hover),
    var(--green-bg)
  );
  @include button-variant(
    blue,
    var(--blue-bg),
    var(--blue-color),
    var(--blue-hover),
    var(--blue-hover),
    var(--blue-bg)
  );
  @include button-variant(
    orange,
    var(--orange-bg),
    var(--orange-color),
    var(--orange-hover),
    var(--orange-hover),
    var(--orange-bg)
  );
  @include button-variant(
    yellow,
    var(--yellow-bg),
    var(--yellow-color),
    var(--yellow-hover),
    var(--yellow-hover),
    var(--yellow-bg)
  );
  @include button-variant(
    purple,
    var(--purple-bg),
    var(--purple-color),
    var(--purple-hover),
    var(--purple-hover),
    var(--purple-bg)
  );
  @include button-variant(
    gray,
    var(--gray-bg),
    var(--gray-color),
    var(--gray-hover),
    var(--gray-hover),
    var(--gray-bg)
  );
}

.badge {
  @include transition(background-color, border-color, color);

  @include badge-variant(
    primary,
    var(--primary-bg),
    var(--primary-color),
    var(--primary-hover),
    var(--primary-hover),
    var(--primary-bg)
  );
  @include badge-variant(
    secondary,
    var(--secondary-bg),
    var(--secondary-color),
    var(--secondary-hover),
    var(--secondary-hover),
    var(--secondary-bg)
  );
  @include badge-variant(
    success,
    var(--success-bg),
    var(--success-color),
    var(--success-hover),
    var(--success-hover),
    var(--success-bg)
  );
  @include badge-variant(info, var(--info-bg), var(--info-color), var(--info-hover), var(--info-hover), var(--info-bg));
  @include badge-variant(
    warning,
    var(--warning-bg),
    var(--warning-color),
    var(--warning-hover),
    var(--warning-hover),
    var(--warning-bg)
  );
  @include badge-variant(
    danger,
    var(--danger-bg),
    var(--danger-color),
    var(--danger-hover),
    var(--danger-hover),
    var(--danger-bg)
  );
  @include badge-variant(
    light,
    var(--light-bg),
    var(--light-color),
    var(--light-hover),
    var(--light-hover),
    var(--light-bg)
  );
  @include badge-variant(dark, var(--dark-bg), var(--dark-color), var(--dark-hover), var(--dark-hover), var(--dark-bg));
  @include badge-variant(red, var(--red-bg), var(--red-color), var(--red-hover), var(--red-hover), var(--red-bg));
  @include badge-variant(
    green,
    var(--green-bg),
    var(--green-color),
    var(--green-hover),
    var(--green-hover),
    var(--green-bg)
  );
  @include badge-variant(blue, var(--blue-bg), var(--blue-color), var(--blue-hover), var(--blue-hover), var(--blue-bg));
  @include badge-variant(
    orange,
    var(--orange-bg),
    var(--orange-color),
    var(--orange-hover),
    var(--orange-hover),
    var(--orange-bg)
  );
  @include badge-variant(
    yellow,
    var(--yellow-bg),
    var(--yellow-color),
    var(--yellow-hover),
    var(--yellow-hover),
    var(--yellow-bg)
  );
  @include badge-variant(
    purple,
    var(--purple-bg),
    var(--purple-color),
    var(--purple-hover),
    var(--purple-hover),
    var(--purple-bg)
  );
  @include badge-variant(gray, var(--gray-bg), var(--gray-color), var(--gray-hover), var(--gray-hover), var(--gray-bg));
}

.alert {
  @include transition(background-color, color, border-color);

  @include alert-variant(
    primary,
    var(--primary-bg),
    var(--primary-color),
    var(--primary-hover),
    var(--primary-hover),
    var(--primary-bg)
  );
  @include alert-variant(
    secondary,
    var(--secondary-bg),
    var(--secondary-color),
    var(--secondary-hover),
    var(--secondary-hover),
    var(--secondary-bg)
  );
  @include alert-variant(
    success,
    var(--success-bg),
    var(--success-color),
    var(--success-hover),
    var(--success-hover),
    var(--success-bg)
  );
  @include alert-variant(info, var(--info-bg), var(--info-color), var(--info-hover), var(--info-hover), var(--info-bg));
  @include alert-variant(
    warning,
    var(--warning-bg),
    var(--warning-color),
    var(--warning-hover),
    var(--warning-hover),
    var(--warning-bg)
  );
  @include alert-variant(
    danger,
    var(--danger-bg),
    var(--danger-color),
    var(--danger-hover),
    var(--danger-hover),
    var(--danger-bg)
  );
  @include alert-variant(
    light,
    var(--light-bg),
    var(--light-color),
    var(--light-hover),
    var(--light-hover),
    var(--light-bg)
  );
  @include alert-variant(dark, var(--dark-bg), var(--dark-color), var(--dark-hover), var(--dark-hover), var(--dark-bg));
  @include alert-variant(red, var(--red-bg), var(--red-color), var(--red-hover), var(--red-hover), var(--red-bg));
  @include alert-variant(
    green,
    var(--green-bg),
    var(--green-color),
    var(--green-hover),
    var(--green-hover),
    var(--green-bg)
  );
  @include alert-variant(blue, var(--blue-bg), var(--blue-color), var(--blue-hover), var(--blue-hover), var(--blue-bg));
  @include alert-variant(
    orange,
    var(--orange-bg),
    var(--orange-color),
    var(--orange-hover),
    var(--orange-hover),
    var(--orange-bg)
  );
  @include alert-variant(
    yellow,
    var(--yellow-bg),
    var(--yellow-color),
    var(--yellow-hover),
    var(--yellow-hover),
    var(--yellow-bg)
  );
  @include alert-variant(
    purple,
    var(--purple-bg),
    var(--purple-color),
    var(--purple-hover),
    var(--purple-hover),
    var(--purple-bg)
  );
  @include alert-variant(
    purple,
    var(--gray-bg),
    var(--gray-color),
    var(--gray-hover),
    var(--gray-hover),
    var(--gray-bg)
  );
}

.icon {
  color: var(--text-color);
  @include transition(color);

  &:hover {
    color: var(--link-hover-color);
  }
}

.input-group-text {
  background-color: var(--input-bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  @include transition(background-color, border-color, color);

  &:hover {
    background-color: var(--main-bg);
    border-color: var(--link-hover-color);
    color: var(--link-hover-color);
  }
}

.search-bar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  overflow: hidden;
  @include transition(border-color, box-shadow);

  &:focus-within {
    border-color: var(--link-hover-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .search-input {
    flex: 1;
    border: none;
    padding: 0.5rem;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    outline: none;

    &::placeholder {
      color: var(--muted-text-color);
    }
  }

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    cursor: pointer;
    @include transition(background-color, color);

    &:hover {
      background-color: var(--main-bg);
      color: var(--link-hover-color);
    }
  }
}

.dropdown-menu {
  background-color: var(--main-bg);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @include transition(background-color, border-color);

  .dropdown-item {
    color: var(--text-color);
    @include transition(color, background-color);

    &:hover {
      color: var(--dropdown-hover-color);
      background-color: var(--dropdown-hover-bg);
    }

    &.active,
    &:focus {
      color: var(--dropdown-hover-color);
      background-color: var(--dropdown-hover-bg);
    }
  }

  .dropdown-divider {
    border-color: var(--border-color);
    @include transition(border-color);
  }
}

.navbar-nav .dropdown-toggle {
  color: var(--text-color);
  @include transition(color);

  &:hover {
    color: var(--dropdown-hover-color);
  }

  &:focus {
    color: var(--dropdown-hover-color);
  }
}

.table > :not(caption) > * > * {
  color: var(--text-color);
  background-color: var(--main-bg);
  border: 1px solid var(--border-color);
}

.table > :not(caption) > thead > tr > th {
  background-color: var(--table-header-bg);
  color: var(--text-color);
  font-weight: bold;
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: var(--table-striped-bg);
}

.table > tbody > tr:hover {
  background-color: var(--table-row-hover-bg) !important;
  color: var(--table-row-hover-text) !important;
}

.list-group {
  background-color: var(--main-bg);
  border: 1px solid var(--border-color);
  @include transition(background-color, border-color);

  .list-group-item {
    background-color: var(--main-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    @include transition(background-color, color, border-color);
  }
}

.list-group-numbered {
  background-color: var(--main-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  @include transition(background-color, color, border-color);

  .list-group-item {
    background-color: var(--main-bg);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    @include transition(background-color, color, border-color);
  }
}

.list-group-item-action {
  background-color: var(--main-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  @include transition(background-color, color, border-color);

  i {
    color: var(--text-color);
    @include transition(color);

    &:hover {
      color: var(--dropdown-hover-color);
    }
  }

  &:hover {
    color: var(--dropdown-hover-color);
    background-color: var(--dropdown-hover-bg);
  }

  &.active {
    background-color: var(--active-color);
    border-color: var(--border-color);
    color: var(--primary-color);

    i {
      color: var(--primary-color);
    }
  }

  &.disabled {
    background-color: var(--disabled-bg);
    color: var(--muted-text-color);
  }
}

.button-link {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  @include transition(background-color, color);

  &:hover {
    color: var(--dropdown-hover-color);
    background-color: var(--dropdown-hover-bg);
  }

  &:focus {
    outline: none;
    background-color: var(--dropdown-hover-bg);
    color: var(--dropdown-hover-color);
  }
}

.pagination-bar {
  padding: 16px 24px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--main-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-nowrap {
  white-space: nowrap;
  overflow-wrap: normal;
  word-break: normal;
}

/* Carousel Container */
.carousel {
  background-color: var(--main-bg);
  color: var(--text-color);
  @include transition(background-color, color);
}

/* Caption */
.carousel-caption {
  color: var(--text-color);
  @include transition(background-color, color);
}

/* Indicators */
.carousel-indicators {
  @include transition(background-color);
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin-top: 1rem;

  button {
    background-color: var(--gray-bg) !important;
    border: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    @include transition(background-color);

    &:hover {
      background-color: var(--caption-active-bg) !important;
      opacity: 0.8;
    }

    .carousel-indicator-icon {
      color: var(--gray-text);
    }
  }

  .active {
    background-color: var(--caption-active-bg) !important;

    .carousel-indicator-icon {
      color: var(--caption-active-bg) !important;
    }
  }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  color: var(--light-bg);
  background-image: none;
  border: none;
  @include transition(color);

  &:hover {
    color: var(--light-hover);
  }
}

.image-wrapper {
  position: relative;
  overflow: hidden;
}

.image-wrapper img {
  @include transition(transform, filter);
}

.image-wrapper:hover img {
  transform: scale(1.1);
  filter: brightness(var(--hover-brightness));
}

.code-block-container {
  position: relative;

  .copy-button {
    position: absolute;
    top: 8px;
    right: 8px;
    z-index: 10;
    background-color: var(--copy-button-bg);
    color: var(--text-color);
    border: none;
    padding: 4px 8px;
    font-size: 0.875rem;
    border-radius: 4px;
    @include transition(background-color, color);

    &:hover {
      background-color: var(--copy-button-hover-bg);
      color: var(--text-color);
    }
  }
}

.tooltip {
  background-color: var(--tooltip-bg);
  color: var(--text-color);
  border: 1px solid var(--tooltip-border-color);

  .tooltip-inner {
    background-color: var(--tooltip-bg);
    color: var(--text-color);
  }

  .tooltip-arrow::before {
    background-color: var(--tooltip-bg);
  }
}

// Tab Container
.nav-tabs {
  border-bottom: 1px solid var(--tab-theme-border);
  @include transition(border-color);

  .nav-link {
    color: var(--text-color);
    background-color: var(--main-bg);
    border: 1px solid transparent;
    border-radius: 0.25rem 0.25rem 0 0;
    @include transition(color, background-color, border-color);

    &:hover {
      color: var(--text-color);
      background-color: var(--tab-theme-hover-bg);
      border-color: var(--tab-theme-hover-border);
    }

    &.active {
      color: var(--tab-theme-active-text);
      border-color: var(--tab-theme-border);
      background-color: var(--tab-theme-active-bg);
      border-bottom-color: var(--tab-theme-active-bg);
    }
  }
}

// Tab Content
.tab-content {
  border: 1px solid var(--border-color);
  background-color: var(--main-bg);
  @include transition(border-color, background-color);

  .tab-pane {
    color: var(--text-color);
    @include transition(color);
  }
}
