@import './variables';
@import './mixins';

body {
  margin: 0;
  font-family: var(--font-family), sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  @include transition(background-color, color);
  @include theme-transition;
}

.navbar {
  background-color: var(--navbar-bg);
  border-bottom: 1px solid var(--border-color);
  @include transition(background-color, border-color);

  .nav-link {
    color: var(--text-color);
    @include transition(color);

    &:hover {
      color: var(--link-hover-color);
    }

    &.active {
      color: var(--active-color);
    }
  }

  .navbar-brand {
    color: var(--text-color);
    @include transition(color);

    &:hover {
      color: var(--link-hover-color);
    }
  }

  .navbar-toggler {
    border: 1px solid var(--border-color);
    @include transition(border-color, color);

    .navbar-toggler-icon {
      font-size: 1.5rem;
      color: var(--text-color);
      @include transition(color);

      &:hover {
        color: var(--link-hover-color);
      }
    }
  }
}

.footer {
  background-color: var(--footer-bg);
  color: var(--text-color);
  border-top: 1px solid var(--border-color);
  @include transition(background-color, color, border-color);
}

main {
  background-color: var(--main-bg);
  min-height: 100vh;
  @include transition(background-color);
}

.theme-toggle-btn {
  background-color: transparent;
  color: var(--text-color);
  @include transition(background-color, color);

  &:hover {
    color: var(--link-hover-color);
  }
}

.link {
  color: var(--text-color);
  text-decoration: none;
  @include transition(color);

  &:hover {
    color: var(--link-hover-color);
  }

  &.active {
    color: var(--active-color);
  }
}

p {
  color: var(--text-color);
  @include transition(color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  @include transition(color);
}

.text-muted {
  color: var(--muted-text-color) !important;
  @include transition(color);
}

.spinner-border,
.spinner-grow {
  color: var(--spinner-color);
  @include transition(color);
}

.pagination {
  .page-item {
    .page-link {
      background-color: transparent;
      color: var(--text-color);
      border: 1px solid var(--border-color);
      @include transition(background-color, color, border-color);

      &:hover {
        color: var(--link-hover-color);
        border-color: var(--link-hover-color);
        background-color: rgba(0, 0, 0, 0.05);
      }
    }

    &.active .page-link {
      background-color: var(--active-color);
      border-color: var(--border-color);
      color: var(--primary-color);
    }

    &.disabled .page-link {
      color: var(--muted-text-color);
      pointer-events: none;
    }
  }
}

select,
select.form-select {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  @include transition(background-color, color, border-color);

  &:focus {
    background-color: var(--main-bg-color);
    border-color: var(--link-color);
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:hover {
    border-color: var(--link-hover-color);
  }

  &:disabled {
    background-color: var(--main-bg);
    color: var(--muted-text-color);
    border-color: var(--border-color);
    cursor: not-allowed;
  }

  option {
    background-color: var(--main-bg);
    color: var(--text-color);
  }
}

input.form-control {
  background-color: var(--input-bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  @include transition(background-color, color, border-color);

  &::placeholder {
    color: var(--text-color);
  }

  &:focus {
    color: var(--text-color);
    background-color: var(--input-bg-color);
    border-color: var(--link-color);
    outline: none;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  &:hover {
    border-color: var(--link-hover-color);
  }

  &:disabled {
    background-color: var(--input-bg-color);
    color: var(--muted-text-color);
    border-color: var(--border-color);
    cursor: not-allowed;
  }
}

.post-card {
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--main-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  @include transition(background-color, box-shadow, border-color);
}

.post-card-content {
  flex: 1;
  padding: 16px;
  color: var(--text-color);
}

.thumbnail-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  background-color: var(--main-bg);
  @include transition(background-color, border-color);

  img {
    width: 100%;
    height: auto;
    @include transition(transform, filter);
  }
}

.thumbnail-wrapper:hover img {
  transform: scale(1.1);
  filter: brightness(var(--hover-brightness));
}

.text {
  @include text-variant(primary, var(--primary-text));
  @include text-variant(secondary, var(--secondary-text));
  @include text-variant(success, var(--success-text));
  @include text-variant(info, var(--info-text));
  @include text-variant(warning, var(--warning-text));
  @include text-variant(danger, var(--danger-text));
  @include text-variant(light, var(--light-text));
  @include text-variant(dark, var(--dark-text));
}

.btn {
  transition:
    background-color var(--transition-speed) ease,
    border-color var(--transition-speed) ease,
    color var(--transition-speed) ease;

  @include button-variant(
    primary,
    var(--primary-bg),
    var(--primary-color),
    var(--primary-hover),
    var(--primary-hover),
    var(--primary-bg)
  );
  @include button-variant(
    secondary,
    var(--secondary-bg),
    var(--secondary-color),
    var(--secondary-hover),
    var(--secondary-hover),
    var(--secondary-bg)
  );
  @include button-variant(
    success,
    var(--success-bg),
    var(--success-color),
    var(--success-hover),
    var(--success-hover),
    var(--success-bg)
  );
  @include button-variant(
    info,
    var(--info-bg),
    var(--info-color),
    var(--info-hover),
    var(--info-hover),
    var(--info-bg)
  );
  @include button-variant(
    warning,
    var(--warning-bg),
    var(--warning-color),
    var(--warning-hover),
    var(--warning-hover),
    var(--warning-bg)
  );
  @include button-variant(
    danger,
    var(--danger-bg),
    var(--danger-color),
    var(--danger-hover),
    var(--danger-hover),
    var(--danger-bg)
  );
  @include button-variant(
    light,
    var(--light-bg),
    var(--light-color),
    var(--light-hover),
    var(--light-hover),
    var(--light-bg)
  );
  @include button-variant(
    dark,
    var(--dark-bg),
    var(--dark-color),
    var(--dark-hover),
    var(--dark-hover),
    var(--dark-bg)
  );
}

.badge {
  transition:
    background-color var(--transition-speed) ease,
    border-color var(--transition-speed) ease,
    color var(--transition-speed) ease;

  @include badge-variant(
    primary,
    var(--primary-bg),
    var(--primary-color),
    var(--primary-hover),
    var(--primary-hover),
    var(--primary-bg)
  );
  @include badge-variant(
    secondary,
    var(--secondary-bg),
    var(--secondary-color),
    var(--secondary-hover),
    var(--secondary-hover),
    var(--secondary-bg)
  );
  @include badge-variant(
    success,
    var(--success-bg),
    var(--success-color),
    var(--success-hover),
    var(--success-hover),
    var(--success-bg)
  );
  @include badge-variant(info, var(--info-bg), var(--info-color), var(--info-hover), var(--info-hover), var(--info-bg));
  @include badge-variant(
    warning,
    var(--warning-bg),
    var(--warning-color),
    var(--warning-hover),
    var(--warning-hover),
    var(--warning-bg)
  );
  @include badge-variant(
    danger,
    var(--danger-bg),
    var(--danger-color),
    var(--danger-hover),
    var(--danger-hover),
    var(--danger-bg)
  );
  @include badge-variant(
    light,
    var(--light-bg),
    var(--light-color),
    var(--light-hover),
    var(--light-hover),
    var(--light-bg)
  );
  @include badge-variant(dark, var(--dark-bg), var(--dark-color), var(--dark-hover), var(--dark-hover), var(--dark-bg));
  @include badge-variant(red, var(--red-bg), var(--red-text), var(--red-hover), var(--red-hover), var(--red-bg));
  @include badge-variant(
    green,
    var(--green-bg),
    var(--green-text),
    var(--green-hover),
    var(--green-hover),
    var(--green-bg)
  );
  @include badge-variant(blue, var(--blue-bg), var(--blue-text), var(--blue-hover), var(--blue-hover), var(--blue-bg));
  @include badge-variant(
    orange,
    var(--orange-bg),
    var(--orange-text),
    var(--orange-hover),
    var(--orange-hover),
    var(--orange-bg)
  );
  @include badge-variant(
    yellow,
    var(--yellow-bg),
    var(--yellow-text),
    var(--yellow-hover),
    var(--yellow-hover),
    var(--yellow-bg)
  );
  @include badge-variant(
    purple,
    var(--purple-bg),
    var(--purple-text),
    var(--purple-hover),
    var(--purple-hover),
    var(--purple-bg)
  );
  @include badge-variant(gray, var(--gray-bg), var(--gray-text), var(--gray-hover), var(--gray-hover), var(--gray-bg));
}

.alert {
  transition:
    background-color var(--transition-speed) ease,
    color var(--transition-speed) ease,
    border-color var(--transition-speed) ease;

  @include alert-variant(
    primary,
    var(--primary-bg),
    var(--primary-color),
    var(--primary-hover),
    var(--primary-hover),
    var(--primary-bg)
  );
  @include alert-variant(
    secondary,
    var(--secondary-bg),
    var(--secondary-color),
    var(--secondary-hover),
    var(--secondary-hover),
    var(--secondary-bg)
  );
  @include alert-variant(
    success,
    var(--success-bg),
    var(--success-color),
    var(--success-hover),
    var(--success-hover),
    var(--success-bg)
  );
  @include alert-variant(info, var(--info-bg), var(--info-color), var(--info-hover), var(--info-hover), var(--info-bg));
  @include alert-variant(
    warning,
    var(--warning-bg),
    var(--warning-color),
    var(--warning-hover),
    var(--warning-hover),
    var(--warning-bg)
  );
  @include alert-variant(
    danger,
    var(--danger-bg),
    var(--danger-color),
    var(--danger-hover),
    var(--danger-hover),
    var(--danger-bg)
  );
  @include alert-variant(
    light,
    var(--light-bg),
    var(--light-color),
    var(--light-hover),
    var(--light-hover),
    var(--light-bg)
  );
  @include alert-variant(dark, var(--dark-bg), var(--dark-color), var(--dark-hover), var(--dark-hover), var(--dark-bg));
}

.icon {
  color: var(--text-color);
  @include transition(color);

  &:hover {
    color: var(--link-hover-color);
  }
}

.input-group-text {
  background-color: var(--input-bg-color);
  border: 1px solid var(--border-color);
  color: var(--text-color);
  @include transition(background-color, border-color, color);

  &:hover {
    background-color: var(--main-bg);
    border-color: var(--link-hover-color);
    color: var(--link-hover-color);
  }
}

.search-bar {
  margin: 0 auto;
  display: flex;
  align-items: center;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  overflow: hidden;
  @include transition(border-color, box-shadow);

  &:focus-within {
    border-color: var(--link-hover-color);
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
  }

  .search-input {
    flex: 1;
    border: none;
    padding: 0.5rem;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    outline: none;

    &::placeholder {
      color: var(--muted-text-color);
    }
  }

  .search-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--input-bg-color);
    color: var(--text-color);
    cursor: pointer;
    @include transition(background-color, color);

    &:hover {
      background-color: var(--main-bg);
      color: var(--link-hover-color);
    }
  }
}

.dropdown-menu {
  background-color: var(--main-bg);
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  @include transition(background-color, border-color);

  .dropdown-item {
    color: var(--text-color);
    @include transition(color, background-color);

    &:hover {
      color: var(--dropdown-hover-color);
      background-color: var(--dropdown-hover-bg);
    }

    &.active,
    &:focus {
      color: var(--dropdown-hover-color);
      background-color: var(--dropdown-hover-bg);
    }
  }

  .dropdown-divider {
    border-color: var(--border-color);
    @include transition(border-color);
  }
}

.navbar-nav .dropdown-toggle {
  color: var(--text-color);
  @include transition(color);

  &:hover {
    color: var(--link-hover-color);
  }

  &:focus {
    color: var(--active-color);
  }
}

.button-link {
  background-color: transparent;
  border: none;
  color: var(--text-color);
  padding: 0.5rem 1rem;
  display: block;
  width: 100%;
  text-align: left;
  font-size: 1rem;
  text-decoration: none;
  @include transition(background-color, color);

  &:hover {
    color: var(--dropdown-hover-color);
    background-color: var(--dropdown-hover-bg);
  }

  &:focus {
    outline: none;
    background-color: var(--dropdown-hover-bg);
    color: var(--dropdown-hover-color);
  }
}

.pagination-bar {
  padding: 16px 24px;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: var(--main-bg);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.text-nowrap {
  white-space: nowrap;
  overflow-wrap: normal;
  word-break: normal;
}
